<h1> All Steps </h1>


<% @steps.each do |step| %>

<%= image_tag step.image, :class => 'thumb' if step.image.present? %>
<ul>
<li>Location: <%= link_to step.location, step %></li>
<li>Story: <%= step.story %></li>
<li>Departure Date: <%= step.journey.first.departure_date %></li>
<li>Return date: <%= journey.return_date %></li>
</ul>
<% end %>
