<h1><%= @step.location %></h1>

<%= image_tag @step.image, :class => 'feature' if @step.image.present? %>

<ul>
  <li>Location: <%= @step.location %></li>
<% if @step.journeys.present? %>
  <li>Journey: <%= link_to @step.journeys.location, @step.journeys %></li> %>
    <% end %>
  <li>Story: <%= @step.story %></li>
  <li>Date: <%= @step.date.strftime '%A, %B %e, %Y' if @step.date.present? %></li>
</ul>

<div class="controls">
  <%= link_to 'Edit Step', edit_step_path(@step) %>
  <%= link_to 'Delete Step', @step, :method => 'delete', :class => 'hotdogs', :data => { :confirm => 'Are you sure?' } %>
</div>
