<div class="container">
  <div class="row">
  <div class="col">
<h1><%= @step.location %></h1>
<%= image_tag @step.image, :class => 'feature' if @step.image.present? %>

<ul>


  <% if @step.journey.present? %>
    <li class = 'step-info'><span class="bold"> Journey: </span><%= link_to @step.journey.name, @step.journey %></li>
      <% end %>
    <li class = 'step-info'><span class="bold"> Date: </span><%= @step.date.strftime '%A, %B %e, %Y' if @step.date.present? %></li>
  <li class = 'step-info'><span class= "bold"> Location: </span><%= @step.location %></li>

  <li class = 'step-info'><span class "bold"> Story: </span><%= @step.story %></li>

</ul>
</div>
<!-- width=500px height=500px -->
<div class="col">
<div id="map">
  <script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiYW5nZXBvbCIsImEiOiJja3YzbHg4ZDcwcnM2Mm9xcG51ZG5lOGQzIn0.-ZjAUc6_dljaJQJsW7pcPw';
const map = new mapboxgl.Map({
container: 'map', // container ID
style: 'mapbox://styles/angepol/ckv6njeji7sps15o2du4ju2g0', // style URL
center: [<%= @step.longitude %>, <%= @step.latitude %>], // starting position [lng, lat]
zoom: 11 // starting zoom
});

// Create a new marker.
const marker = new mapboxgl.Marker()
.setLngLat([<%= @step.longitude %>, <%= @step.latitude %>])
.addTo(map);

</script>
</div>
</div>
</div>


<div class="controls">
  <%= button_to 'Edit Step', edit_step_path(@step), :class => "btn btn-warning", :method => 'get' %>
  <%= button_to 'Journey', journey_path(@step.journey), :class => "btn btn-info", :method => 'get' %>
  <%= link_to 'Delete Step', @step, :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger" %>
</div>
</div>
