
<div class="alert alert-info" role="alert">
<h1> All Journeys </h1>
</div>

<% if @current_user.journeys.empty? %>
<p> No journeys to show</p>
<% else %>
<% @current_user.journeys.each do |journey| %>

<%= image_tag journey.image, :class => 'thumb' if journey.image.present? %>
<ul>
<li class ='step-info'><span class ="bold">Name: </span><%= link_to journey.name, journey %></li>
<li class ='step-info'><span class ="bold">Countries: </span><%= journey.countries %></li>
<li class ='step-info'><span class ="bold">Departure Date: </span><%= journey.departure_date.strftime '%A, %B %e, %Y'%></li>
<li class ='step-info'><span class ="bold">Return date: </span> <%= journey.return_date.strftime '%A, %B %e, %Y'%></li>
</ul>
<% end %>
<% end %>
