<div class="container">
  <div class="row">
    <div class="col journey-scroll">
      <h1><%= @journey.name %></h1>
      <div class="journey">
      <%= image_tag @journey.image, :class => 'feature' if @journey.image.present? %>
      </div>
      <ul>

        <li><span class="bold">Countries: </span><%= @journey.countries %></li>
        <li><span class="bold">Departure Date: </span> <%= @journey.departure_date %></li>
        <li><span class="bold">Return Date: </span><%= @journey.return_date %></li>
        </ul>

      <% @journey.steps.each do |step| %>
      <%= link_to image_tag(step.image, :class => 'thumb'), step %>
      <ul>
      <li class = 'step-info'><span class="bold">Location: </span><%= step.location %></li>
      <li class = 'step-info'><span class="bold">Story: </span> <%= step.story %></li>
      <li class = 'step-info'><span class="bold">Date: </span> <%= step.date %></li>
      </ul>
      <% end %>

      <div class="controls ">
        <%= button_to 'Create Step', new_step_path, :class => "btn btn-primary", :method => 'get' %>
        <%= button_to 'Edit Journey', edit_journey_path(@journey), :class => "btn btn-warning", :method => 'get' %>
        <%= button_to 'Delete Journey', @step, :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger" %>
      </div>

    </div>
  <% if @journey.steps.any? %>
    <div class="col">
      <div id="map">
        <script>
      	mapboxgl.accessToken = 'pk.eyJ1IjoiYW5nZXBvbCIsImEiOiJja3YzbHg4ZDcwcnM2Mm9xcG51ZG5lOGQzIn0.-ZjAUc6_dljaJQJsW7pcPw';
      const map = new mapboxgl.Map({
      container: 'map', // container ID
      style: 'mapbox://styles/angepol/ckv6njeji7sps15o2du4ju2g0', // style URL
      center: [<%= @journey.steps.first.longitude %>, <%= @journey.steps.first.latitude %>], // starting position [lng, lat]
      zoom: 9 // starting zoom
      });
      <% @journey.steps.each do |step| %>
     <% if step.longitude && step.latitude%>
       new mapboxgl.Marker()
      .setLngLat([<%= step.longitude %>, <%= step.latitude %>])
      .setPopup(new mapboxgl.Popup().setHTML("<h3><%= step.location %></h3>"))
      .addTo(map);
      <% end %>
      <% end %>

      </script>
      </div>

    </div>
    <% end %>
  </div>

</div>
