<!DOCTYPE html>
<html>
  <head>
    <title>Traveller</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
    <style>
    </style>
   </head>
  <body class="<%=params[:controller]%> <%=params[:action] %>">

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Traveller</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


      <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            <%= link_to 'Home', root_path, :class => "nav-link" %>
            <% if @current_user.present? %>
              <% if @current_user.admin? %>
                <%= link_to 'All users', users_path, :class => "nav-link"%>
              <% end %>
              <%= link_to 'All Journeys', journeys_path, :class => "nav-link" %>
              <%= link_to 'New Journey', new_journey_path, :class => "nav-link" %>
              <%= link_to "Log out #{ @current_user.email }", login_path, :method => 'delete', :class => "nav-link" %>
            <% else %>
             <%= link_to 'Sign up', new_user_path, :class => "nav-link" %>
             <%= link_to 'Sign in', login_path, :class => "nav-link" %>
            <% end %>

          </div>
        </div>
    </nav>



    <%= yield %>
  </body>
</html>
